
<%= simple_form_for(message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="input-group mb-3">
    <%= f.input :content, placeholeder: "Type your message here", class: "form-control", label: false %>
    <div class="input-group-append"></div>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
