
<%= simple_form_for(message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="input-group">
    <%= f.input :content, placeholeder: "Type your message here" class: "form-control mr-2" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
