<p id="notice"><%= notice %></p>

<h2><%= @message.content %></h2>
<p></p>
<h4><%= @message.title %></h4>
<p></p>
<h4><%= @message.body %></h4>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
